h1 {
    color: chocolate;
}
p {
    color: red;
    font-family: Hind Siliguri;
}
#rmar{
    color: black;
    font-size: 20px;
}
.heading{
    color: red;
    font-size: 30px;
    font-family: Hind Siliguri;
}
.tour{
    border: 2px solid black;
    border-radius: 20px;
    margin: 10px;
}